<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--  头部 -->
<head>
<head th:include="/admin/headlink"></head>
<!-- 脚本 -->
<head th:include="/admin/scriptlink"></head>
</head>
<body class="hold-transition skin-blue sidebar-mini">

	<div class="wrapper">

		<!-- 头部 导航 -->
		<div th:replace="/admin/header"></div>

		<!--侧边栏-->
		<aside th:replace="/admin/sidebar"></aside>

		<!-- 内容 -->
		<div class="content-wrapper">
			<div th:replace="${#httpServletRequest.getAttribute('includePath')}"></div>
		</div>

		<!-- 版权信息 -->
		<footer th:replace="/admin/footer"></footer>

	</div>
	<!-- ./wrapper -->
</body>
</html>