/* 全局样式
-------------------------------------------------- */
html, body { /*非常重要的样式让背景图片100%适应整个屏幕*/  
background:#fff;
width:100%;height:100%;
} 


.navbar-fixed-top{background-color: #eff2fe;color:black;}
.navbar-nav > li > a,.navbar-brand {font-size: 1.3em;color:black;} /*--导航字体扩大--*/
button.navbar-toggle {background-color:#babdb6;}/*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/  
button.navbar-toggle > span.icon-bar {background-color:#2e3436;}
.navbar-fixed-top .navbar-toggle:hover,
.navbar-fixed-top .navbar-toggle:focus {
  background-color: #ddd;/*--切换键鼠标悬空背景色变换--*/
} 
/* 产品介绍
-------------------------------------------------- */
.summary{
    padding: 15px 0px;
    background: url(/imgs/slid.jpg) fixed;
    background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
}


/* 主页大图
-------------------------------------------------- */
.products {  
   background: url(/imgs/audi.jpg) no-repeat 100%;
  	background-size: cover;
	min-height:460px;
	position:relative;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	margin-top: 50px;
	max-width: 100%;
}
#Sales-strategy{
	margin-top :180px;
}
/*  团队介绍
-------------------------------------------------- */
.groups {
  position: relative;
}

.groups a {
	overflow: hidden;
	position: relative;
	display: block;
}

.groups a .Covery {
    display: inline-block;
    height: 100%;
        text-align: center;
    width: 100%;
    color: #ffffff;
    position: absolute;
    bottom: -89%;
    background-color: rgba(46, 31, 33, 0.71);
    padding: 5% 10%;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.groups a:hover .Covery {
  width: 100%;
  bottom: 0%;
  padding: 50% 10%;
}

.Covery h4 {
    color: #fff;
    margin-top: 1px;
}
.Covery p {
    margin-top: 5px;
}
/*--团队介绍结束--*/

/*  底部
-------------------------------------------------- */
.footer {
	margin-top: 70px;
    text-align: center;
    background-color: #ccc;
}
.footer p {
	color: #111;
	font-size: 14px;
}
.footer p a {
	color: #222;
	margin-left: 2px;
}
.footer p a:hover{
	color: #111;
	text-decoration:none;
}
/*--底部结束--*/


/* RESPONSIVE CSS
-------------------------------------------------- */

/* 小屏幕(平板)（小于等于 768px） */
@media screen and (max-width: 768px){
  .products {
   min-height: 200px;
    }
   #Sales-strategy{
   margin-top: 30px;
   }
}
